<div class="top-navbar">
  <div>
    <span class="header header-primary text-transform-uppercase">nova admissão cooperado</span>
    <p class="breadcrumb text-transform-capitalize">cadastro / admissão cooperado / nova admissão de cooperados</p>
  </div>
  <div>
    <div class="account-info">
      <div class="notification">
        <i class="fa-regular fa-bell"></i>
        <div>7</div>
      </div>
      <div class="company">
        <span>viacredi</span>
      </div>
      <div class="user">
        <img src="assets/images/user.jpg" alt="Don Ramon">
      </div>
    </div>
  </div>
</div>
