@import "../../../../../assets/styles/colors.scss";

.sidebar {
  background-color: map-get($colors, primary);
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

::ng-deep {
  body {
    &.active {
      .sidebar {
        left: -80px;
      }
    }
  }
}
