<div class="sidebar">
  <div class="hamburger">
    <div class="logo">
      <img src="assets/images/logo-ailos-2.png" alt="Ailos">
    </div>
    <div class="item-menu bar">
      <i class="fa-sharp fa-solid fa-bars"></i>
    </div>
    <div class="item-menu">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="item-menu">
      <i class="fa-sharp fa-solid fa-star"></i>
    </div>
    <div class="item-menu">
      <i class="fa-sharp fa-solid fa-message"></i>
    </div>
    <div class="item-menu">
      <i class="fa-sharp fa-solid fa-sliders"></i>
    </div>
    <div class="item-menu">
      <i class="fa-sharp fa-solid fa-building-columns"></i>
    </div>
  </div>
</div>
