<section>
  <span class="title-page">Informe o CPF do futuro cooperado (a)</span>
  <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
  <p>Digite apenas números (sem pontos ou traços).</p>
  <form class="form">
    <label for="cpf">CPF</label>
    <input type="text" id="cpf" placeholder="000.000.000-00" [formControl]="cpfControl" maxlength="11" minlength="11" />
    <button class="button button-primary margin" (click)="findCpf($event)">Consultar por CPF</button>
    <div>
      <span class="message">
        {{ message }}
      </span>
    </div>
  </form>
</section>
