@import "../../../../../assets/styles/colors.scss";

.stepper-wrapper {
  margin: 0 auto 20px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 500px;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    &::after {
      position: absolute;
      content: "";
      border-bottom: 2px solid map-get($colors, primary20);
      width: 100%;
      top: 9px;
      left: 50%;
      z-index: 2;
    }

    .circle {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: map-get($colors, primary20);
      border: 1px solid map-get($colors, primary20);
      margin-bottom: 6px;
    }

    .name {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
    }

    &.active {
      .circle {
        background-color: lighten(map-get($colors, primary), 80%);
        border: 1px solid map-get($colors, primary);
      }

      .name {
        color: map-get($colors, primary);
      }
    }

    &:last-child::after {
      content: none;
    }
  }
}

