@import "../../../assets/styles/colors.scss";

.wrapper {
  .page-section {
    width: calc(100% - 100px);
    margin-left: 100px;
    transition: all 0.5s ease;

    .container {
      background-color: lighten(map-get($colors, primary), 60%);
      padding: 0;
      line-height: 28px;
      height: calc(100vh - 200px);
    }
  }
}

::ng-deep {
  body {
    &.active {
      .wrapper {
        .page-section {
          margin-left: 20px !important;
          width: calc(100% - 20px) !important;
        }
      }
    }
  }
}
