@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap');

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}



/* .header-subtitle {
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.breadcrumb {
  color: map-get($colors, gray);
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.title-page {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
} */
